#bird-1 {
  position: absolute;
  background-image: url('./bird.gif');
  background-size: contain;
  background-repeat: no-repeat;
}

#road {
  width: 800px;
  height: 20px;
}

.obstacle {
  position: absolute;
  background-color: black;
}

#message {
  margin-left: 360px;
  color: red;
  font-size: 30px;
}

.ground {
  width: 800px;
  height: 400px;
  border: 1px solid black;
  position: absolute;
  background-image: url("mountain.gif");
  background-size: contain;

}

#score {
  margin: 40px;
  font-size: 2em;
}