#horse-1 {
  position: absolute;
  background-image: url('./running_horse.gif');
  background-size: contain;
  background-repeat: no-repeat;
}

#road {
  width: 800px;
  height: 20px;
}

.obstacle {
  position: absolute;
  background-color: black;
}

.ground {
  width: 800px;
  height: 400px;
  border: 1px solid black;
  position: absolute;
}

#score {
  margin: 40px;
  font-size: 2em;
}